{{ '{%' }} import_yaml '{{ cookiecutter.formula_name }}/defaults.yaml' as default_settings {{ '%}' }}

{{ '{%' }} set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'RedHat': {},
  }, merge=salt['pillar.get']('{{ cookiecutter.formula_name }}:lookup')) {{ '%}' }}

{{ '{%' }} do default_settings.{{ cookiecutter.formula_name }}.update(os_family_map) {{ '%}' }}

{{ '{%' }} set {{ cookiecutter.formula_name }} = salt['pillar.get']( '{{ cookiecutter.formula_name }}', default_settings.{{ cookiecutter.formula_name }}, merge=True) {{ '%}' }}

{## Variable manipulation ##}
{{ '{%' }} set version_name = '{{ cookiecutter.formula_name }}_' + {{ cookiecutter.formula_name }}.version {{ '%}' }}

{{ '{%' }} do {{ cookiecutter.formula_name }}.update({'version_name': version_name,
                                                    })
{{ '%}' }}

